*{
  box-sizing: border-box;
}
body{
  margin:0;
}
.navbar{
  display:flex;
  flex-flow: row wrap;
  height: 100px;
  background:white;
  justify-content: center;
  align-items: center;
}
.logo h1{
  font-family: cursive;
  color:#180F4A;
  font-size: 34px;
  margin-left: 10%;
}
.logo{
  flex:20%;
  /*border:1px solid black;*/
  text-align: right;
}
.menu{
  flex:80%;
  /*border:1px solid gray;*/
  text-align: center;
}
.menu a{
  color:#180F4A;
  text-decoration: none;
  padding: 12px 12px;
}
#botao{
  color:white;
  background:#180F4A;
  border-radius: 5%;
  margin-right: 5%;
  margin-left:5%;
}
.header{
  display:flex;
  flex-flow:row wrap;
  height: 600px;
  justify-content: center;
  align-items: center;
  /*background:gray;*/
}
.headline{
  flex:45%;
  margin-left: 5%;
 /* border:1px solid black;*/
}
.headline p{
  color:gray;
  text-align: left;
}
.contact-btn{
  display:inline-block;
  background: #180F4A;
  color:white;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
}
.headline h2{
  font-weight: 900;
  font-size:20px;
  color:#180F4A;
  padding: 0;
  margin:0;
}
.img-headline{
  margin-right: 5%;
  flex:45%;
  text-align: center;
}
footer{
  margin-top:100px;
  height: 300px;
  background-image: linear-gradient(180deg, #180F4A,#090422, black);
  text-align: center;
}
.casa{
  font-family: 'Lobster',cursive;
  color:white;
  font-size: 30px;
}